{% extends 'base.html' %}

{% block title %}Madlib Results{% endblock %}

{% block content %}
<h1>Here's your story!</h1>
<p>There once was a <span class='madlibs'>{{ color }} {{ noun }}</span> sitting in the CODE: Rosie Lab. When <span class='madlibs'>{{ person }}</span> went to pick it up, it burst into flames in a totally <span class='madlibs'>{{ adjective }}</span> way.  After that, your <span class="madlibs">{{ radio }}</span> pet <span class="madlibs">{{ ticky_01 }} {{ ticky_02 }} {{ ticky_03 }}</span> ran away!</p>
{% endblock %}